:root{
  --gap: 30px;
  --container: 800px;

  --alternativeColor: #ffffff;
  --mainColorL0: #000000;
  --mainColor: #5d5d5d;
  --errorColor: #ff0000;
}

*,*:before,*:after{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  color: var(--mainColor);
  list-style: none;
  border: 0;
  outline: 0;
}

h1{
  font-size: 32px;
  line-height: 36px;
  color: var(--mainColorL0);
}

.container{
  max-width: calc(var(--container) + (var(--gap) * 2));
  width: 100%;
  padding-left: var(--gap);
  padding-right: var(--gap);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.fullHeight{
  height: 100%;
  min-height: 100vh;
  padding: 63px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
  padding-top: 80px;
}

a{
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline;
  &:hover{
    color: var(--mainColorL0);
  }
}

.link{
  cursor: pointer;
  font-weight: 600;
  position: relative;
  transition: .4s;
  text-decoration: none;

  &:before{
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 0;
    height: 2px;
    background: var(--mainColorL0);
    transition: .4s;
    right: 0;
  }
  &:hover, &.isActive{
    color: var(--mainColorL0);
    &:before{
      left: 0;
      width: 100%;
    }
  }
}

button{
  padding: 10px 25px;
  background: var(--alternativeColor);
  border: 1px var(--mainColor) solid;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s;
  &:focus{
    border: 1px var(--mainColorL0) solid;
    color: var(--mainColorL0);
    border-radius: 20px;
  }
  &:hover,&:focus:hover{
    color: var(--alternativeColor);
    background: var(--mainColor);
    border-radius: 20px;
  }
}