%colors_white{
  --main: #000000;
  --sec: #ffffff;
  --prim: #4d4d4d;
  --wrong: #ff9a59;
  --error: #ff0000;
}


%colors_black{
  --main: #ffffff;
  --sec: #000000;
  --prim: #b2b2b2;
  --wrong: #ff9a59;
  --error: #ff0000;
}