@use '../../index' as *;

.header{
  border-bottom: var(--mainColor) 1px solid;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 15px 0;
  &_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_nav{
    display: flex;
    align-items: center;
    position: relative;
  }
  .nav{
    &_list{
      display: flex;
      align-items: center;
    }
    &_item{
      margin-right: 40px;
      &_link{
        @extend .link;
        &:before{
          display: none;
        }
      }
    }
    &_line{
      display: block;
      position: absolute;
      top: 25px;
      background: var(--mainColorL0);
      height: 2px;
      width: 100%;
      transition-property: left, max-width;
      transition-duration: .4s;
    }
    &_logoutButton{
      padding: 5px 10px;
      font-size: 14px;
      line-height: 16px;
    }
  }
}