@use '../index' as *;

.header{
  border-bottom: var(--mainColor) 1px solid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  &_nav{
    @extend .container;
    padding: 15px 0;
  }
  .nav{
    &_list{
      display: flex;
      align-items: center;
    }
    &_item{
      margin-right: 40px;
      &_link{
        @extend .link;
      }
    }
  }
}